h1{
    text-align: center;
    margin: 20px 0;

}

.box{
    width: 100%;
    max-width: 300px;
    padding: 10px;
    border: .5px solid gray;
    border-radius: 12px;
    margin: 10px auto;
    
}

.box>h2>span{
    color: aqua;
}

